{{!-- Home Navbar --}}
    <nav class="navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
        <a class="navbar-brand" href="/articles">Web Scraper</a>
            <a class="nav-item nav-link" href="/articles">Home</a>
            <a class="nav-item nav-link" href="/saved">Saved Articles</a>
            <button class="btn btn-success my-2" type="button" id="scrapeBtn">Scrape New Articles</button>
            <button class="btn btn-success my-2" type="button" id="clearBtn">Clear Articles</button>
        </div>
    </nav>

    {{!-- Home Header --}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="text-center mt-5">MONGO SCRAPER</h1>
            <h2 class="text-center">ALTPRESS EDITION</h2>  
        </div>
    </div>

{{!-- Cards For Articles --}}
{{#each articles}}
<div class="card my-5 container">
    <div class="card-header bg-dark row">
        <div class="col-10">
            <a target="_blank" href={{link}}>
                <h3>{{title}}</h3>
            </a>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success articleSave" data-_id="{{_id}}">Save Article</button>
        </div>
    </div>
    <div class="card-body row">
        <div class="col-5">
            <img src="{{image}}">
        </div>
        <div class="col-5">
            <p>{{summary}}</p>
        </div>
    </div>
    
</div>
{{/each}}