{{!-- Navbar --}}
<nav class="navbar-expand-lg navbar-dark bg-dark nav">
    <div class="navbar-nav mt-3 ml-2">
        <a class="navbar-brand" href="/articles">Web Scraper</a>
        <a class="nav-item nav-link" href="/articles">Home</a>
        <a class="nav-item nav-link" href="/saved">Saved Articles</a>
        <button class="btn btn-outline-light ml-3 mb-3" type="button" id="clearBtn">Clear Articles</button>
    </div>
</nav>

{{!-- Header --}}
<div class="jumbotron jumbotron-fluid shadow">
  <div class="container">
    <h1 class="text-center mt-4">SAVED ARTICLES</h1>
    <h2 class="text-center mb-5">YOUR SAVED ARTICLES</h2>
  </div>
</div>

{{!-- Cards for Saved Articles --}}
{{#each articles}}
{{#if saved}}
<div class="card my-5 container shadow">
    <div class="card-header bg-dark row">
        <div class="col-12">
            <a target="_blank" href={{link}}>
                <h3 class="mt-2">{{title}}</h3>
            </a>
        </div>
    </div>
    <div class="card-body row">
        <div class="col-4">
            <img class="ml-5 shadow" src="{{image}}">
        </div>
        <div class="col-6">
            <p class="mt-4">{{summary}}</p>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-dark articleRemove mt-5 ml-3" data-_id="{{_id}}">Unsave Article</button>
        </div>
    </div>

</div>

{{/if}}
{{/each}}